<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <title>Cycl</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link rel="icon" type="image/png" href="https://cdn2.iconfinder.com/data/icons/sport-ii/96/09-512.png">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <script id="bootstrap-current-user" type="text/javascript">
    <% if logged_in? %>
    	window.currentUser = <%= render("api/users/user.json.jbuilder",
    		user: current_user).html_safe %>
    <% end %>
  </script>
  <script src="https://use.fontawesome.com/13c0a2edb7.js"></script>
  <script type="text/javascript">
    window.GOOGLE_KEYS = {
      GOOGLE_MAPS: "AIzaSyBazQ2K5CsQzLEu3F3a1DRhpWWOzVAD1qA",
      GOOGLE_ROAD: "AIzaSyCj1pjRTm_yDI1vUEtNEQKKmMxn7Vktn0o"
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBazQ2K5CsQzLEu3F3a1DRhpWWOzVAD1qA"
  charset="utf-8">
  </script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
  </script>
  <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback();
  </script>
</body>
</html>
